<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" th:object="${user}" method="POST">
    <div>
        <input th:field="*{firstName}" type="text" placeholder="firstname">
    </div>
    <div>
        <input th:field="*{secondName}" type="text" placeholder="second name">
    </div>
    <div>
        <input th:field="*{email}" type="text" placeholder="example@gmail.ru">
    </div>
    <div>
        <input th:field="*{password} " placeholder="password" type="password">
    </div>
    <div>
        <input th:field="*{repassword} " placeholder="repassword" type="password">
    </div>
    <div>
        <button>Reg</button>
        <span th:text="${message}"></span>
    </div>
    <div>
        <a href="/login"></a>
    </div>
</form>
</body>
</html>